/* style.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Taviraj', serif;
    background-color: #1f2c39;
    color: #F7FFF7;
}

html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    flex-shrink: 0;
    color: #00cc66;
    padding: 10px 0;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}

.text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.game-container>p {
    font-family: 'Montserrat', sans-serif;
}

.game-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.game-goal {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.scoreboard {
    text-align: center;
    border-radius: 11px;
    border: 3px solid #00cc66;
    padding: 4px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: bold;
}

.game-score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Taviraj', serif;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
}

.player-button {
    background-color: #1f2c39;
    border-radius: 11px;
    border: 3px solid #000000;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Hind Siliguri', sans-serif;
    text-align: center;
}

.player-button:hover {
    background-color: #00000060;
}

.AI-pick {
    background-color: #1f2c39;
    border: 3px solid #00000000;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Hind Siliguri', sans-serif;
    text-align: center;

}

.restart-button {
    visibility: hidden;
    background: #9c59b600;
    border: 3px solid #9b59b6;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Montserrat', sans-serif;
    text-align: right;
    margin-top: 1em;
}

.restart-button:hover {
    background-color: #9b59b6;
}



.footer {
    flex-shrink: 0;
    background-color: #00cc66;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/* Media Queries */
@media (max-width: 768px) {
    .header {
        font-size: 2rem;
    }

    .game-title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .game-goal {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .player-button {
        background-color: #1f2c39;
        border-radius: 11px;
        border: 3px solid #000000;
        border-radius: 11px;
        padding: 15px 20px;
        color: #F7FFF7;
        display: inline-block;
        font: bold 36px/1 'Hind Siliguri', sans-serif;
        text-align: center;
    }

    .AI-pick {
        background-color: #1f2c39;
        border: 3px solid #00000000;
        border-radius: 11px;
        padding: 15px 20px;
        color: #F7FFF7;
        display: inline-block;
        font: bold 36px/1 'Hind Siliguri', sans-serif;
        text-align: center;
    }

    .restart-button {
        background: #9c59b600;
        border: 3px solid #9b59b6;
        border-radius: 11px;
        padding: 10px 25px;
        color: #F7FFF7;
        display: inline-block;
        font: bold 16px/1 'Hind Siliguri', sans-serif;
        text-align: right;
    }
}