* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Taviraj', serif;
    background-color: #1f2c39;
    color: #F7FFF7;
}

.player-button {
    background-color: #1f2c39;
    border-radius: 11px;
    border: 3px solid #000000;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Hind Siliguri', sans-serif;
    text-align: center;
}

.player-button:hover {
    background-color: #00000060;
}

.AI-pick {
    background-color: #1f2c39;
    border: 3px solid #00000000;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Hind Siliguri', sans-serif;
    text-align: center;
}

.header-bar {
    background-color: #1f2c39;
    color: #00cc66;
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: flex-start;
    font-family: 'Hind Siliguri', sans-serif;
}

.header-bar-title {
    display: flex;
    align-content: flex-start;
    font-size: 4svw;
}

.game-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 2rem;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 2rem;
}

.game-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 1rem;
}

.game-rounds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 11px;
    border: 3px solid #00cc66;
}

.game-score {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.player-score {
    display: flex;
    flex-direction: column;
}

.AI-score {
    display: flex;
    flex-direction: column;
}

.game-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: .5em;
}

.player-section,
.AI-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;
    margin: 0.5em;
}

.player-buttons,
.AI-button {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 3em;
}

.game-log {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.restart-container {
    visibility: hidden;
    display: flex;
    flex: 1;
    justify-content: center;
}

.restart-button {
    background: #9c59b600;
    border: 3px solid #9b59b6;
    border-radius: 11px;
    padding: 20px 45px;
    color: #F7FFF7;
    display: inline-block;
    font: bold 36px/1 'Hind Siliguri', sans-serif;
    text-align: right;
}

.restart-button:hover {
    background-color: #9b59b6;
}

.footer {
    background-color: #00cc66;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-family: 'Taviraj', serif;
}

.footer-text {
    display: flex;
    padding: .5em;
    justify-content: center;
    font-size: 1.2em;
}